@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 350px; /* Set fixed width for the extension popup */
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}